[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"stix2-validator" = "*"
stix-pattern-translator = "*"
gunicorn = "*"
sigmatools = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest"
start = "python app.py"
deploy = "gunicorn --config gunicorn_config.py --access-logfile - app:app"
