[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"stix2-validator" = "*"
stix-pattern-translator = "*"
gunicorn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.7"
